<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Power Flow Calculator</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">
    <link href="css/style.css"rel="stylesheet" type="text/css" />
</head>

<body>
{% if Language==0 %}
	<div id="header">
        <div class="nav">
        	<ul>
                <li><a href="/">Desktop View</a></li>
                <li><a href="./?cn">中文</a></li>
                <li><a href="/m/about/">About</a></li>
            </ul>
        </div>
        <div class="logo">
	        <h1>
	        	<font size="+2"><a href="/m/" style="text-decoration: none">Power Flow Calculator </a></font>
	        	<font size="+0" color="grey">Mobile</font>
	        </h1>
        </div>
    </div>
    <div class="clear"></div>
    <h2>Notice</h2>
    <p>This is still an internal alpha project.</p>
    <div class="right"><a href="#">Read More &raquo;</a></div>
    <div class="clear"></div>
    <div class="nav2">
        	<p><a href="http://igorw.org">Igor Wang</a>, Powered by Google App Engine<br />
        	Version: {{ Version }}, Latest update: {{ LastUpdate }}</p>
        </div>
{% endif %}        

{% if Language==1 %}
	<div id="header">
        <div class="nav">
        	<ul>
                <li><a href="/">桌面版本</a></li>
                <li><a href="./?en">English</a></li>
                <li><a href="/m/about/">关于</a></li>
            </ul>
        </div>
        <div class="logo">
	        <h1>
	        	<font size="+2"><a href="/m/" style="text-decoration: none">Power Flow Calculator </a></font>
	        	<font size="+0" color="grey">移动版</font>
	        </h1>
        </div>
    </div>
    <div class="clear"></div>
    <h2>注意：</h2>
    <p>项目现在仍处于Alpha状态。</p>
    <div class="right"><a href="#">更多... &raquo;</a></div>
    <div class="clear"></div>
    <div class="nav2">
        	<p><a href="http://igorw.org">Igor Wang</a>, Powered by Google App Engine<br />
        	版本: {{ Version }}, 最后更新于: {{ LastUpdate }}</p>
    </div>
{% endif %} 

</body>
</html>
